/Build/
/Configuration/*
!/Configuration/PackageStates.php
!/Configuration/Production/
/Configuration/Production/*.example
!/Configuration/Testing/
/Configuration/Testing/*.example
!/Configuration/Development/
/Configuration/Development/*.example
/Data/
/Packages/*
!/Packages/Application/
/Packages/Application/*
!/Packages/Application/GoCardTeam.GoCardApi/
/Packages/Application/GoCardTeam.GoCardApi/Resources/Public/
/Web/*
!/Web/.htaccess
!/Web/_Resources/
/Web/_Resources/*
!/Web/_Resources/.htaccess
/bin/
/Readme.rst
/Upgrading.rst
/flow
/flow.bat
/node_modules/
/client/build/
yarn-error.log
npm-debug.log
/.idea/
/.env
/.docker-sync/