#                                                                        #
# Example Settings                                                       #
#                                                                        #
# This file contains settings for various parts of the application.      #
# Copy this file to Settings.yaml, and adjust as necessary.              #
#                                                                        #
# Please refer to the default settings file(s) or the manuals for        #
# possible configuration options.                                        #
#                                                                        #

Neos:
  Flow:
    persistence:
      backendOptions:
        host: 'mysql'                           # adjust to your database host
        port: '3306'                            # adjust to your database port
        dbname: 'flow'                          # adjust to your database name
        user: 'root'                            # adjust to your database user
        password: 'jFaa6D4JJPB3sNY8RRwjUF5e'    # adjust to your database password

       # if you want to log executed SQL queries, enable the next 2 lines
#      doctrine:
#        sqlLogger: 'Neos\Flow\Persistence\Doctrine\Logging\SqlLogger'
